NET "Clk" LOC = "M16";
NET "Clk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DataIn" LOC = "M15";
NET "Enables<0>"  LOC = "D14"  ; 
NET "Enables<1>"  LOC = "G14"  ; 
NET "Enables<2>"  LOC = "F14"  ; 
NET "Enables<3>"  LOC = "E13"  ; 
NET "Segments<0>"  LOC = "E14"  ; 
NET "Segments<1>"  LOC = "G13"  ; 
NET "Segments<2>"  LOC = "N15"  ; 
NET "Segments<3>"  LOC = "P15"  ; 
NET "Segments<4>"  LOC = "R16"  ; 
NET "Segments<5>"  LOC = "F13"  ; 
NET "Segments<6>"  LOC = "N16"  ; 
NET "Clk2" LOC = "T9";
NET "pressed<0>"  LOC = "K12"  ;
NET "pressed<1>"  LOC = "P14"  ;
NET "pressed<2>"  LOC = "L12"  ;
NET "pressed<3>"  LOC = "N14"  ;
NET "pressed<4>"  LOC = "P13"  ;
NET "pressed<5>"  LOC = "N12"  ;
NET "pressed<6>"  LOC = "P12"  ;
NET "pressed<7>"  LOC = "P11"  ;
